<!DOCTYPE html>
<html>

<head>
    <title>Chat realtime NodeJS demo</title>

    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>

    <fieldset>
        <legend>Demo chat realtime NodeJS</legend>
        <input type="text" id="username" name="username" placeholder="Enter name">
        <br>
        <div id="content"></div>

        <input id="message" placeholder="Write something..">
        <br>
        <button id="sendMessage">SEND</button>
    </fieldset>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        //Kết nối tới server socket đang lắng nghe
        var socket = io.connect('http://localhost:8080');
        console.log(socket)

        //Socket nhận data và append vào giao diện
        socket.on("send", function (data) {
            console.log('Got data: ')
            console.log(data);
            $("#content").append("<p class='message'>" + data.username + ": " + data.message + "</p>")
        })

        //Bắt sự kiện click gửi message
        $("#sendMessage").on('click', function () {
            var username = $('#username').val();
            var message = $('#message').val();
            console.log(username)
            console.log(message)

            if (username == '' || message == '') {
                alert('Please enter name and message!!');
            } else {
                //Gửi dữ liệu cho socket
                socket.emit('send', { username: username, message: message });
                $('#message').val('');
            }
        })
    </script>
</body>

</html>